<%- include("partials/header.ejs") %>
<main>
  <h1 class="mx-5 px-5 my-5"><strong>Healthy Eating on a Budget: Nutritious Meals for Less</strong></h1>
  <p class="mx-5 article-p">
    Eating healthy doesn’t have to break the bank. Start by planning your meals and creating a shopping list to avoid impulse
    buys.
    <br /><br />
    Purchase seasonal fruits and vegetables—they’re cheaper and fresher.
    <br /><br />
    Buy in bulk where possible, especially staples like grains and legumes.
    <br /><br />
    Cooking at home can save money and allow you to control ingredients.
    <br /><br />
    Simple, nutritious meals like vegetable stir-fries, lentil soups, and homemade salads are cost-effective and easy to prepare.
    Embrace the power of meal prep to save time and reduce food waste.
    <br /><br />
    With a bit of planning, you can enjoy nutritious, delicious meals without overspending.
  </p>
</main>
<%- include("partials/footer.ejs") %>
