<%- include("partials/header.ejs") %>
<main>
  <h1 class="mx-5 px-5 my-5"><strong>Sustainable Fashion: How to Build an Eco-Friendly Wardrobe</strong></h1>
  <p class="mx-5 article-p">
    Building an eco-friendly wardrobe is not just a trend—it's a necessity for our planet's health.
    <br /><br />
    Start by choosing high-quality, timeless pieces that last longer.
    <br /><br />
    Opt for clothing made from sustainable materials like organic cotton, bamboo, or recycled fabrics.
    <br /><br />
    Support brands that prioritize ethical manufacturing processes.
    <br /><br />
    Thrift shopping and swapping clothes with friends are great ways to refresh your wardrobe without contributing to fashion
    waste.
    <br /><br />
    Additionally, consider upcycling old garments to give them new life.
    <br /><br />
    By making mindful choices, you can look stylish while reducing your environmental footprint. Let's make sustainable fashion a
    lasting movement.
  </p>
</main>
<%- include("partials/footer.ejs") %>
