<%- include("partials/header.ejs") %>

    <main>
      <h1 class="mx-5 px-5 my-5"><strong>Silviu's BLOG</strong></h1>
      <div class="card text-center mx-5">
        <div class="card-body">
          <h5 class="card-title">Article NR. 1</h5>
          <p class="card-text">The Ultimate Guide to Mindful Living: Tips and Practices for a Balanced Life</p>
          <a href="/article-1" class="btn btn-outline-dark">Go to article</a>
        </div>
      </div>
      <div class="card text-center mx-5">
        <div class="card-body">
          <h5 class="card-title">Article NR. 2</h5>
          <p class="card-text">Emerging Tech Trends in 2024: What You Need to Know</p>
          <a href="article-2" class="btn btn-outline-dark">Go to article</a>
        </div>
      </div>
      <div class="card text-center mx-5">
        <div class="card-body">
          <h5 class="card-title">Article NR. 3</h5>
          <p class="card-text">Sustainable Fashion: How to Build an Eco-Friendly Wardrobe</p>
          <a href="article-3" class="btn btn-outline-dark">Go to article</a>
        </div>
      </div>
      <div class="card text-center mx-5">
        <div class="card-body">
          <h5 class="card-title">Article NR. 4</h5>
          <p class="card-text">Healthy Eating on a Budget: Nutritious Meals for Less</p>
          <a href="article-4" class="btn btn-outline-dark">Go to article</a>
        </div>
      </div>
    </main>
<%- include("partials/footer.ejs") %>